extends ../../layout/index
block content
    .container-fluid
        .row.justify-content-center
            .col-xl-10
                .jumbotron
                    .row
                        .col-10
                            h1.display-4=i.id
                            p.lead
                                | SpiderTrack is developed for identifying fraudulent transactions
                                | one-commerce websites
                        .col-2
                            p.lead
                                a.btn.btn-primary.btn-lg(href='#', role='button') Add to cart
                    hr.my-4
                div
                    .row.justify-content-center
                        .col-lg-5
                            .row
                                img(src='/images/bag.png', alt='')
                        .col-lg-4.d-flex.align-items-center
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                | industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                | electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                                | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                | Aldus PageMaker including versions of Lorem Ipsum.