extends layout/index
block content
    .container-fluid
        .jumbotron
            h1.display-4 Hello, shopper!
            p.lead
                | SpiderTrack is developed for identifying fraudulent transactions
                on e-commerce websites
            p.lead
                a.btn.btn-primary.btn-lg(href='#', role='button') Learn more
            hr.my-4

            include layout/includes/itemgrid