extends ../layout/index
block content
    .jumbotron
        h1.display-4 Hello, User!
        p.lead
            | SpiderTrack is developed for identifying fraudulent transactions
            on e-commerce websites
        p.lead
        hr.my-4
    include ../layout/includes/itemgrid